.container {
  height: 800px;
  margin: 30px auto;
  width: 800px;
  background-color: #abcb99;
}

.cell {
  float: left;
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.snake {
  background-color: #111;
}
